.Card{
    border: double 5px rgba(0, 0, 0, 0);
    width: 60vw;
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    background-color: rgba(245, 245, 220, 0.87);
    border-radius: 15px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.459);
    position: relative;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.Card_Titulo{
    border: solid 1px rgb(197, 0, 0); 
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 4fr 1fr;  
}

.Card_Titulo h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
    border: solid 1px rgb(197, 0, 0); 
}

.Card_Pergunta{
    border: solid 1px rgb(230, 255, 6);
}

.Card_Resposta{
    border: solid 1px rgb(16, 0, 238);
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.shake {
    animation-name: shake;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
      background-color: beige;
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
      background-color: rgba(255, 0, 0, 0.562);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
      background-color: rgba(255, 0, 0, 0.5);
    }
  }