.Game_Box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    width: 90vw;
    height: 90vh;
    perspective: 1000px;
}

.Perguntas_Box{
    position: absolute;
    z-index: 10;
}

.Container_Game, .Game_Over_Container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backface-visibility: hidden;
    transition: transform 1s;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.459); 
    background-color: olive;
}

.Container_Game{
    flex-direction: row;
    background: linear-gradient(to bottom, peachpuff, mistyrose);    
    border: 3px solid rgb(212, 0, 0);
}

.Game_Over_Container{
    flex-direction: column;
    border: 3px solid rgb(0, 212, 81);
    transform: rotateY(180deg);
}

.Container_Game_DONE .Container_Game {
    transform: rotateY(180deg);
}

.Container_Game_DONE .Game_Over_Container {
    transform: rotateY(360deg);
}



.Container_Left{
    /* border: solid 2px black; */
    flex: 1;
    height: 90%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.459);   
    border-radius: 10px;
    margin: 5px;
}

.Container_Right{
    /* border: solid 2px rgb(235, 0, 0); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 90%;
    margin: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.699);
    background-color: rgba(255, 214, 214, 0.822);
}

.Container_Perguntas{
    /* border: solid 2px rgb(0, 235, 0); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

